a { color: #fff; }

#albums {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

@media only screen and (min-width: 1200px) {
    #albums {
        margin: auto;
        width: 1000px;
    }
}

.album > img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    opacity: 0.6;
}

@media only screen and (min-width: 200px) {
    .album > img {
        height: 200px;
        width: 200px;
    }
}

@media only screen and (min-width: 800px) {
    .album > img {
    height: 300px;
    width: 300px;
    }
}

.album > img:hover {
    opacity: 1.0;
}

body {
    background: #000;
    color: #fff;
    font-family: helvetica;
    padding: 25px;
    #text-transform: uppercase;
    align-items: center;
}

h1, h2, h3, h4 {
    display: flex;
    height: auto;
    justify-content: center;
}

article {
    margin: 125px 0 0 0;
}

h1 {
    filter: drop-shadow(2px 2px 0px #333);
    font-family: '04b_19';
    font-size: 8em;
    height: 60px;
    letter-spacing: -25px;
    -moz-transform: scale(1) rotate(0deg) translate(10px, 0px) skew(-10deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(10px, 0px) skew(-10deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(10px, 0px) skew(-10deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(10px, 0px) skew(-10deg, 0deg);
    transform: scale(1) rotate(0deg) translate(10px, 0px) skew(-10deg, 0deg);
}

h2 {
    font-size: 2em;
    letter-spacing: -1px;
    text-transform: uppercase;
}

@media only screen and (max-width: 300px) {
    h2 {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    h2 > .middle {
        display: none;
    }
}

h3 {
    color: #aaa;
    font-size: .8em;
    font-style: italic;
    margin: -10px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

h4 { text-align: center; }

.logo { height: 300px; width: 300px; }

nav {
    display: flex;
    gap: 15px;
    height: 100%;
    list-style: none;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 300px) {
    nav {
        align-content: center;
        flex-direction: column;
        text-align: center;
    }
}
